@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'reset';
@import 'components/test-component';

#root, html, body , body > div {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    text-underline-position: under;
}